In [1]:
#  IMPORTS

import pandas as pd
from metrics.energy_estimation import MetricsEE
from metrics.event_detection import MetricsED

In [2]:
# Load files for GT and Pred values

ee_gt = pd.read_csv('test_data/kettle_gt.csv', index_col='Time', parse_dates=True)
ee_pred = pd.read_csv('test_data/kettle_pred.csv', index_col='Time', parse_dates=True)

ee_pred = ee_pred[['Appliance_Q.05', 'Appliance_Q.50']]

In [3]:
# Check the metrics using the check_metrics from the MetricsEE class
# This function will check for the columns present in both GT and Pred frames
# And will return metric values for each of those columns

metrics_ee = MetricsEE()
ee_hourly_metrics = metrics_ee.check_metrics(ee_gt, ee_pred,
                                             metric_list=['rmse', 'cep'],
                                             interval='Hour', start_date='2015-05-01', end_date='2015-05-04')

In [4]:
ee_hourly_metrics['Appliance_Q.50'].head(10)

,rmse,cep_c,cep_co,cep_cu,cep_o,cep_ozero,cep_u,cep_total
2015-05-01 00:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 01:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 02:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 03:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 04:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 05:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 06:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 07:00:00,277.551096,2705,114,36629.0,5812.0,0.0,9267.0,48715
2015-05-01 08:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 09:00:00,284.797452,0,10874,42834.0,8074.0,2712.0,3765.0,57473

In [5]:
# Directly calling the methods from the MetricsEE class

rmse = metrics_ee.cmd_rmse(ee_gt['Appliance_Q.50'],
                           ee_pred['Appliance_Q.50'])

print(rmse)

122.41260585180177

In [6]:
# The MetricsED focuses on the Event Detection metrics
# Works the same way, with a check_metrics method available
# Set up the test variables - turn the previous Dataframes into binary variables

ed_gt = (ee_gt > 0).astype(int)
ed_pred = (ee_pred > 0).astype(int)

In [7]:
metrics_ed = MetricsED()
ed_hourly_metrics = metrics_ed.check_metrics(ed_gt, ed_pred,
                                             metric_list=['conf_mat', 'precision', 'recall',
                                                          'fscore', 'mcc', 'smcc', 'dps_pr'],
                                             interval='Hour', start_date='2015-05-01', end_date='2015-05-04')

In [8]:
ed_hourly_metrics['Appliance_Q.50'].head(10)

,dps_pr,fscore,mcc,precision,recall,smcc,tp,tn,fp,fn
2015-05-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0,450,0,0
2015-05-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0,450,0,0
2015-05-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0,450,0,0
2015-05-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0,450,0,0
2015-05-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0,450,0,0
2015-05-01 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0,450,0,0
2015-05-01 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0,450,0,0
2015-05-01 07:00:00,0.062500,0.857143,0.85999,1.000000,0.75,0.070005,18,426,0,6
2015-05-01 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0,450,0,0
2015-05-01 09:00:00,0.008136,0.938776,0.93547,0.958333,0.92,0.032265,23,424,1,2